span{
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.fot1 {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.33333;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;

}
footer{
    padding: 0 15px;
        width: 1158px;
        height: 112px;
        max-width: 1158px;
        background: #2e2f42;
}
.fot2{
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}